#cartWrap{
  width: 1300px;
  margin: 0 auto;
}
.cartList button{
  cursor: pointer;
}
.cartList>p:nth-of-type(1){
  margin-bottom: 10px;
}
.cartList>p:nth-of-type(1)>button{
  padding: 4px 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #666;
  margin-right: 10px;
}

.cartList>table{
  width: 100%;
  margin-bottom: 20px;
}
.cartList>table>thead th{
  padding: 10px;
  background-color: #f7f7f7;
}
.cartList>table>thead th:nth-of-type(1){width: 2%;}
.cartList>table>thead th:nth-of-type(2){width: 10%;}
.cartList>table>thead th:nth-of-type(3){
  text-align: start;
}
.cartList>table>thead th:nth-of-type(4){width: 10%;}
.cartList>table>thead th:nth-of-type(5){width: 7%;}
.cartList>table>thead th:nth-of-type(6){width: 10%;}
.cartList>table>thead th:nth-of-type(7){width: 10%;}

.cartList>table>tbody td{
  padding: 10px;
  border-bottom: 1px solid #bbb;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}
.cartList>table>tbody td:nth-of-type(2)>img{
  border: 1px solid #ddd;
  box-sizing: border-box;
}
.cartList>table>tbody td:nth-of-type(3){text-align: start;}
.cartList>table>tbody td button{
  width: 90%;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
}
.cartList>table>tbody td li:nth-of-type(1)>button{
  margin-bottom: 5px;
  background-color: #bdbdbd;
  color: #fff;
}
.cartList>table>tbody td li:nth-of-type(2)>button{
  background-color: #fff;
  color: #000;
  border: 1px solid #888;
  box-sizing: border-box;
}

.cartList>p:nth-of-type(2){
  text-align: end;
  padding: 10px;
  font-size: 30px;
  margin-bottom: 20px;
}
.cartList>p:nth-of-type(2)>span{
  margin-left: 170px;
}
.cartList>p:nth-of-type(2)>span>b{
  font-size: 20px;
  margin-left: 10px;
}


.cartList>p:nth-of-type(3){
  text-align: end;
  padding: 0 10px;
  margin-bottom: 20px;
}
.cartList>p:nth-of-type(3) button{
  width: 210px;
  border: none;
  font-size: 20px;
  padding: 10px 0;
  background-color: #bdbdbd;
  color: #fff;
  border-radius: 5px;
}
.cartList>p:nth-of-type(3) button:nth-of-type(2){
  margin-left: 20px;
  background-color: #dab799;
}










.cartEmpty{
  display: flex;
  justify-content: center;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 150px 0;
  margin-bottom: 20px;
}
.cartEmpty>p{
  font-size: 2em;
}