#commuWrap{
  width: 1300px;
  margin: 0 auto;
}
#commuWrap>p{
  text-align: center;
  margin-bottom: 30px;
}
#commuWrap>p b{
  font-size: 25px;
  font-weight: bold;
}
#commuWrap>p span{
  font-size: 14px;
  line-height: 25px;
}

.bbs{
  margin-bottom: 20px;
}
.bbs>table{
  width: 100%;
  text-align: center;
  border-top: 1px solid #cfcfcf;
  border-collapse: collapse;
}
.bbs th, .bbs td{
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}
.bbs>table>thead th{
  background-color: #f7f7f7;
  font-size: 15px;
}
.bbs>table>thead th:nth-of-type(1){width: 5%;}
/* .bbs>table>thead th:nth-of-type(2){} */
.bbs>table>thead th:nth-of-type(3){width: 12%;}
.bbs>table>thead th:nth-of-type(4){width: 8%;}
.bbs>table>thead th:nth-of-type(5){width: 7%;}



.bbs>table>tbody td{
  font-size: 15px;
}
.bbs>table>tbody td:nth-of-type(2){
  padding: 0 15px;
  text-align: start;
}
.bbs>table>tbody td:nth-of-type(4){
  font-size: 13px;
  color: #939393;
}
.bbs>table>tbody td:nth-of-type(5){
  font-size: 13px;
  color: #939393;
}