.board{
  width: 1300px;
  margin: 0 auto 10px;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  padding: 20px 0;
}
.boardInfo{
  padding: 0 0 15px;
  border-bottom: 1px solid #ddd;
}
.boardInfo>p{
  font-size: 18px;
  margin-bottom: 20px;
}
.boardInfo>ul{
  display: flex;
  justify-content: space-between;
}
.boardInfo>ul>li:nth-of-type(1)>span{
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #bdbdbd;
  box-sizing: border-box;
}
.boardInfo>ul>li:nth-of-type(1)>span:first-child{
  padding-left: 0;
}
.boardInfo>ul>li:nth-of-type(1)>span:last-child{
  border-right: none;
  color: #bbb;
}
.boardInfo>ul>li:nth-of-type(2)>span{
  color: #bbb;
  font-size: 16px;
  margin-left: 10px;
}

.boardBtn{
  width: 1300px;
  margin: 0 auto;
  text-align: end;
}
.boardBtn>button{
  padding: 10px 35px;
  border: 1px solid #bdbdbd;
  background-color: #fff;
}