#productWrap{
  width: 1300px;
  margin: 0 auto;
}
#productWrap>p:nth-of-type(1){
  text-align: center;
  margin-bottom: 20px;
}
#productWrap>p:nth-of-type(1) button{
  padding: 10px 0;
  margin: 0 30px;
  border: none;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
}
#productWrap>p:nth-of-type(2), #productWrap>p:nth-of-type(3){
  width: 80%;
  margin: 0 auto 10px;
  line-height: 1.3em;
}
#productWrap>p:nth-of-type(3){
  margin-bottom: 20px;
}

.productList{
  padding: 30px 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  
}
.productList>span{
  position: absolute;
  top: 0;
  left: 0;
  color: #bbb;
}
.productList>span>b{
  color: #000;
}
.productList>figure{
  width: 23%;
  padding: 10px 10px;
  border: 1px solid #bbb;
  margin-bottom: 10px;
  border-radius: 5px;
}
.productList>figure>figcaption>dl{
  text-align: start;
  font-size: 0.8em;
  font-weight: bolder;
}
.productList>figure>figcaption>dl>dt{
  margin-bottom: 10px;
}
.productList>figure>figcaption>dl>dd{
  margin-bottom: 10px;
}
.productList>figure>figcaption>dl>dd:nth-of-type(1){
  color: #888;
}
.productList>figure>figcaption>dl>dd:last-of-type{
  display: flex;
  justify-content: space-between;
}
.productList>figure>figcaption button{
  width: 48%;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  background-color: rgb(104, 193, 104);
  color: #fff;
  padding: 3px 0;
}
.productList>figure>figcaption button:nth-of-type(2){
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(251, 246, 157);
  color: #000;
}