@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Monoton&family=Noto+Sans+KR&family=Play&display=swap');

.hide{width: 0;height: 0;font-size: 0;line-height: 0;position: absolute;visibility: hidden;}
body{
  font-family: 'Noto Sans KR','Sans-serif';
  letter-spacing: -0.25px;
}
a{
  text-decoration: none;
  color: #000;
}
img{width: 100%;}